# ignore input folder
input
# except
!input/README.md

# ignore cnv_simulator
1_cnv_simulator/
# except
!1_cnv_simulator/README.md
!1_cnv_simulator/cnv-sim.py
!1_cnv_simulator/setup-cnvsim.sh

# ignore wessim
2_wessim
# except
!2_wessim/README.md
!2_wessim/setup-wessim.sh

# ignore bwa_aligner
3_bwa_aligner
# except
!3_bwa_aligner/setup-bwa.sh
!3_bwa_aligner/README.md

# ignore samtools
4_samtools
# except
!4_samtools/README.md
!4_samtools/setup-samtools.sh

# ignore igv_browser
5_igv_browser
# except
!5_igv_browser/README.md
!5_igv_browser/setup-igv.sh

# ignore output folder
output
# except
!*.md
.*